.container {
  display: flex;
  height: 100vh;
}

.aside {
  background-color: var(--black);
  /* width: 20%; */
  width: 360px;
  position: fixed;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

/* HEADER ASIDE */
.headerAside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 0;
}

.label {
  color: var(--white);
  font-family: "Poppins-bold", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
}

.bthHidden {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.34), 0.4px 0.8px 1px -1.2px hsl(0deg 0% 63% / 0.34),
    1px 2px 2.5px -2.5px hsl(0deg 0% 63% / 0.34);
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  right: -65px;
}

@media (hover: hover) {
  .bthHidden:hover {
    background-color: var(--gray);
  }
}

/* HEADER ASIDE - */

/* NAV BAR */
.nav {
  height: 100%;
  color: var(--white);
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--gray);
}

.element {
  width: 100%;
  /* color: var(--gray); */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.element:hover {
  /* color: var(--white); */
}

.currentItem {
  color: var(--white);
}

/* NAV BAR */

.config {
  color: var(--gray);
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ------------------- HEADER ---------------------- */
.header {
  /* height: 70px; */
  background-color: peru;
  width: 100%;
  padding: 14px 35px 14px 410px;
}

.content {
  width: 100%;
  padding: 14px 35px 14px 410px;
}
